<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
    .number {
            font-family: var(--sans);
            position: absolute;
            margin: 0;
            top: 360px;
            right: 35px;
            color: rgba(255, 255, 255, 0.7);

        }

        .number img {
            width: 40px;
            height: 40px;
            position: absolute;
            left: -25px;
            top: -7px;
            cursor: pointer;
            animation: rot 1s linear;
        }
        #bweetMe {
            font-family: var(--sans);
            position: absolute;
            margin: 0;
            top: -5px;
            left: -470px;
            color: rgba(255, 255, 255, 0.7);

        }
      #bweetMe {
            position: absolute;
            margin: 0;
            top: 15px;
            color: rgba(255, 255, 255, 0.473);

        }

        #bweetMe img {
            width: 100px;
            height: 40px;
            position: absolute;
            left: 125px;
            top: 78px;
            cursor: pointer;
            animation: rot 1s linear;
        }
        #tweetMe {
            position: absolute;
            margin: 0;
            top: 15px;
            left: -530px;
            color: rgba(255, 255, 255, 0.473);

        }


</style>
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class= "container-fluid main_menu">
        <div class = "row">
            <div class = "col-md-10 col-12 mx-auto">
                <nav class="navbar navbar-expand-lg  ">
                    <a class="navbar-brand" href="#"><i class="far fa-snowflake"></i>Current Weather <i class="far fa-snowflake"></i></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                          </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/weather">Weather</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                          </li>
                      </ul>
                    </div>
                  </nav>
            </div>
        </div>
    </div>

    <div class= "container-fluid main_header">
        <div class = "row">
            <div class = "col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class = "col-md-6 col-12 main_header_left">
                        <p>Hello Everyone</p>
                        <h1>I'm Vineeth</h1>
                                    <p class= "number">
                <img
                src= "onepiece/logo.png"
                alt="tweetMe"
                title="TweetMe"
                id="tweetMe"
                />
                </p>
                        <p class="number">
                            <img src="onepiece/th.jpg"
                            id = "bweetMe"
                            />
                        </p>
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="onepiece/me.jpeg" alt="Vineeth" class="img-fluid" title="Vineeth Reddy">
                        </figure>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>Live Weather</p>
    </footer>

    <script>
         const bweetMe = document.getElementById("bweetMe");
         const tweetMe = document.getElementById("tweetMe");

         

         const tweetNow = () => {
        let tweetPost = `https://twitter.com/intent/tweet?text=hi`;
        window.open(tweetPost);
    }

         const bweetNow = () => {
        let bweetPost = `https://instagram.com/_vineeth_reddy_/reels`;
        window.open(bweetPost);
    }
     tweetMe.addEventListener("click", tweetNow);

    bweetMe.addEventListener("click", bweetNow);
    </script>
</body>
</html>